nbproject
uploads/*
application/cache/*
application/core/*
application/hooks/*
application/language/*
system/*
application/config/database.php
application/config/config.php
application/config/email.php
ssp.class.php
#codeigniter 3
application/logs/*
!application/logs/index.html
!application/logs/.htaccess
